h1 {
    font-size: 75px;
    color: rgb(97, 68, 110);
}

.row.mt-5.w-50{
    margin-left: auto;
    margin-right: auto;
}

.list-group{
    text-align: left;
}

li:hover{
    background-color: rgb(230, 230, 230);
    transition: 0.5s;
}

.text-center.py-5.rounded-2{
    background-color: rgb(232, 255, 223);
}
